/********************************************
 *****            Impressora            *****
 *****             Folha A4             *****
 ********************************************/
@media only print{
	@page{
        margin: 3cm 2cm 2cm 3cm;
    }
    /**********************************************
     ***** TAG de Section estrutura da página *****
     **********************************************/
	body{
		background-color: #FFFFFF;
	}
    div{
        width: auto;
        height: auto;
    }
    article{
        width: 16cm;
        height: 24,7cm;
		/*border-style: solid;
		border-width: 2px;
		border-color: red;*/
        text-align: center;
    }
    section{
		text-align: center;
    }
    nav, footer, header{
        display: none;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    h2{
        font-size: 1em;
    }
    a:link, a:visited, a:hover{
		display: none;
	}
    /*************************************************
     ***** Estrutura das id's do corpo da pagina *****
     *************************************************/
	#h1_c{
        display: none;
	}
    #h1_p, #sheet01{
        visibility: visible;
        font-size: 1em;
        text-shadow: none;
        margin: 10px auto;
    }
    #indice_05, #indice_06, #indice_07{
        display: none;
    }
	/**************************************
	 ***** TAG de Estrutura de imagem *****
	 **************************************/
	img{
		max-width: 80%;
		max-height: 80%;
		margin: 15px 17.5%;
		border-width: 1px;
		border-style: solid;
		border-color: blue;
	}
	hr{
		display: none;
	}
	/**************************************
	 ***** TAG de Estrutura de tabela *****
	 **************************************/
	table{
		min-width: 50%;
		min-height: 50%;
		margin: 15px auto;
		background-color: #FFFFFF;
	}
    mtable{
        margin: 20px auto;
    }
    mtr{
        border-width: 5px;
        border-style: solid;
    }
    mtd{
        font-size: 0.75em;
    }
	/**************************************
	 ***** TAG de Estrutura de box    *****
	 **************************************/
	button{
		dispaly: none;
	}
	/**************************************
	 *****     Classe de estrutura    *****
	 **************************************/
	.line_hr, .a_footer, .a_nav, .press_bt{
		display: none;
	}
	.p_table{
		margin: 10px auto;
        background-color: #FFFFFF;
	}
	.box_input{
		width: 99%;
		height: 160px;
		text-align: left;
	}
}
/********************************************
 *****              Fim                 *****
 ********************************************/